#Azure Redis Cache
[azure_redis]
HOST = tania-redis.redis.cache.windows.net
PORT = 6380
DB = 0
PASSWORD = Pj7PRI7QPZ503w8ciUnDHVkZAZ1kWevUUdrnE9Dw2ys=
SSL = True

[event-hub]
CONNECTION_STR = Endpoint=sb://tanianamespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Y9tZ1DsU+fz1pw4L4Dflm6cK46+EWLL0BitZX0ImobM=
EVENT_HUB_NAME = tania_event_hub

[mode]
MODE = event_hub
#MODE = cli